<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../../public/styles/checkout.css">
</head>
<body>

    <header>
        <div class="checkout">
            <h2 class="checkout-name">Your Order Summary</h2>
            <img src="../../public/assets/icons/Checkout_X.png" class="checkout-x">
        </div>
        <div class="b">        
            <img src="../../public/assets/icons/Table.png" class="a-icon">
            <div class="a">Table A9</div>
        </div>

    </header>
<section class="order">
<div class="order-number">
    <div class="order-number-counter">1</div>
    <img src="../../public/assets/icons/dropdown.png" class="order-number-icon">
</div>
<div class="order-picture"></div>
<div class="order-name">Sweet Potato Pretzel Bagel</div>
<div class="order-price">
    <div class="order-price-counter">$50</div>
    <img src="../../public/assets/icons/trashcan.png" class="order-price-trashcan">
</div>
 </section>
 <section class="order">
    <div class="order-number">
        <div class="order-number-counter">1</div>
        <img src="../../public/assets/icons/dropdown.png" class="order-number-icon">
    </div>
    <div class="order-picture"></div>
    <div class="order-name">Cold Brew Latte</div>
    <div class="order-price">
        <div class="order-price-counter">$50</div>
        <img src="../../public/assets/icons/trashcan.png" class="order-price-trashcan">
    </div>
     </section>
     <section class="payment">
        <div class="payment-section">
        <div class="payment-method-title">Payment Method<span class="red-dot">*</span></div>
        <div class="payment-option">
            <input type="radio" id="pay-counter" name="payment-method" checked>
            <div class="payment-text">
            <label for="pay-counter">Pay at the counter</label>
            <p class="payment-note">please pay at the counter after placing the order</p>
            </div>
        </div>
        </div>
    </section>
    <section class="total">
        <div class="total-section">
            <div class="total-text">Total</div>
            <div class="total-amount">$100</div>
        </div>
        <div class="terms">
            By completing this order, I agree to all terms & conditions.
        </div>
        <div class="place-order">
            <button type="button" class="order-button">Place Order</button>
        </div>
    </section>
</body>
</html>
