<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ghibli Cafe Payment</title>
  <link rel="stylesheet" href="../../public/styles/qr.css">
</head>
<body>

  <header>
    <div class="checkout">
        <h2 class="checkout-name">Your Order Summary</h2>
        <img src="../../public/assets/icons/Checkout_X.png" class="checkout-x">
    </div>
    <div class="b">        
        <div class="a-icon"></div>
        <div class="a">Table A9</div>
    </div>
</header>

  <div class="container">
    <div class="thankyou-text">
      <p>Please proceed to the counter to complete your order. Thank you!</p>
    </div>

    <div class="content">
      <h2>Tom's Cafe</h2>
      <p class="table-number">Table A9</p>

      <div class="qr-code">
        <img src="../../public/assets/images/qr-code.png" alt="QR Code">
      </div>  

      <div class="order-summary">
        <p>Total Payment: <span class="total-price">$100</span></p>
        <div class="item">
          <span>Ramen Bowl</span>
          <span>$50</span>
        </div>
        <div class="item">
          <span>Salad</span>
          <span>$50</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
